.toolboxcontainer{
  
   display: flex ;
   flex-direction: column;
    width: 300px;
    height: auto;
    border: 1px solid rgb(15, 14, 14);
    border-radius: 10px;
    padding: 10px;
    
}
.Stroke{
  font-family: 'Popins';

}
.colourbox{
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-right: 1px;
    border-radius: 4px;
}
.colourcontainer{
  display: flex;
  width: 120px;
  justify-content: space-evenly;
  
}

.brushcontainer
{
  height: 100px;
  width: 200px;
}